@import "./normalize.css";

:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    color: var(--color-text)
}

img {
  z-index: -1
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.border-bottom {
  border-bottom: 10px solid #eee;
}
